{{- if (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) -}}
#!/bin/zsh

if [ -e "${ZDOTDIR:-$HOME}/.zprezto" ]; then
    read -q "response?Prezto seems to be already installed, do you want to reinstall? [y/N]: "
    echo
    if [[ "$response" =~ ^[yY]$ ]]; then
        rm -rf "${ZDOTDIR:-$HOME}/.zprezto"
        git clone --recursive https://github.com/bimal1988/prezto.git "${ZDOTDIR:-$HOME}/.zprezto"
        setopt EXTENDED_GLOB
        for rcfile in "${ZDOTDIR:-$HOME}"/.zprezto/runcoms/^README.md(.N); do
            unlink "${ZDOTDIR:-$HOME}/.${rcfile:t}"
            ln -s "$rcfile" "${ZDOTDIR:-$HOME}/.${rcfile:t}"
        done
    fi
fi
chsh -s /bin/zsh
{{ end -}}
