{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "asciinema"
brew "bat"
brew "broot"
brew "duckdb"
brew "dust"
brew "exa"
brew "fd"
brew "fzf"
brew "git"
brew "git-delta"
brew "hatch"
brew "htop"
brew "httpie"
brew "hyperfine"
brew "maccy"
brew "neovim"
brew "openssl"
brew "pandoc"
brew "pre-commit"
brew "pyenv"
brew "ripgrep"
brew "sqlite"
brew "stress"
brew "tldr"
brew "tmux"
brew "tree"
brew "zoxide"
cask "basictex"
cask "caffeine"
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"
cask "font-hasklug-nerd-font"
cask "monitorcontrol"
cask "rectangle"
cask "stats"
EOF
{{ end -}}
